table {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px; /* Arrondi global du tableau */
    overflow: hidden; /* Assure que l'arrondi est bien appliqué */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombre portée pour un effet flottant */
}

thead {
    background-color: var(--ma-couleur2); /* Couleur de fond de l'en-tête */
    color: white; /* Couleur du texte de l'en-tête */
}

th {
    padding: 15px; /* Espacement autour des cellules d'en-tête */
    font-size: 1.1em; /* Augmenter la taille de la police des en-têtes */
}

tbody {
    background-color: #f8f9fa; /* Couleur de fond du corps du tableau */
}

tbody tr {
    transition: background-color 0.3s; /* Transition pour l'effet hover */
}

tbody tr:hover {
    background-color: #e9ecef; /* Couleur de fond au survol */
}

tbody td {
    padding: 15px; /* Espacement autour des cellules */
    border-bottom: 1px solid #dee2e6; /* Bordure entre les lignes */
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px; /* Arrondi en bas à gauche */
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 15px; /* Arrondi en bas à droite */
}

/* Adaptations pour les projets avec plusieurs financements */
tbody tr td {
    vertical-align: middle; /* Centrage vertical des cellules */
}

/* Styles supplémentaires pour les images si nécessaire */
img {
    object-fit: cover; /* Ajustement de l'image */
    max-width: 100px; /* Largeur maximale pour les images */
    border-radius: 8px; /* Arrondi pour les images */
}
