<div class="container">
     <div class="d-flex align-items-center">
        <div class="items ms-3"> 
            <p>Total des utilisateurs</p>
            <div class="user-conteneur">
                <i class="bi bi-person"></i>
                <h3>{{total}}</h3>
            </div>
        </div>
        <div class="items ms-3"> 
        </div>
        <div class="items ms-3"> 
        </div>
        <div class="items ms-3"> 
        </div>
     </div>
</div>

<div>
    <h2>Statistiques des Utilisateurs</h2>
    <canvas id="utilisateursChart"></canvas>
  
    <h2>Statistiques des Achats</h2>
    <canvas id="achatsChart"></canvas>
  
    <h2>Statistiques des Financements</h2>
    <canvas id="financementsChart"></canvas>
  </div>