.items{
    background-color: var(--ma-couleur1);
    color: #fff;
    width: 15em;
    height: 6em;
    border-radius: 15px;
    
}

.items p{
    text-align: center;
}

.container{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.user-conteneur{
    display: flex;
    justify-content: center;
}

.user-conteneur .bi-person{
    font-size: 150%;
}




  /* Style général du conteneur */
.statistic {
    max-width: 1100px; /* Largeur maximale pour le conteneur */
    margin: 10px auto; /* Centrer le conteneur */
    padding: 20px; /* Espacement interne */
    background-color: #f9f9f9; /* Couleur de fond claire */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  
  /* Titres des sections */
  h2 {
    font-size: 24px; /* Taille du texte */
    color: #333; /* Couleur du texte */
    margin-bottom: 15px; /* Espacement sous les titres */
    border-bottom: 2px solid #3e95cd; /* Ligne sous les titres */
    padding-bottom: 10px; /* Espacement sous la ligne */
  }
  
  /* Style pour les graphiques */
  p-chart {
    margin-bottom: 40px; /* Espacement entre les graphiques */
  }
  
  /* Style des légendes */
  .legend {
    font-size: 14px; /* Taille de la légende */
    color: #555; /* Couleur de la légende */
  }
  
  /* Réactivité */
  @media (max-width: 768px) {
    div {
      padding: 15px; /* Réduire l'espacement interne sur mobile */
    }
  
    h2 {
      font-size: 20px; /* Réduire la taille de la police sur mobile */
    }
  }

